# Refreshing python dataanalysis
https://www.youtube.com/watch?v=WcDaZ67TVRo

In [1]:
x = [1,2,3]

In [2]:
x

[1, 2, 3]

In [3]:
y = x.copy()

In [4]:
x[2] = -3

In [5]:
y

[1, 2, 3]

In [6]:
import pandas as pd
x = pd.read_csv("PythonSamples/Boston House Prices.csv")

In [8]:
x.head(5)

   Rooms  Distance  Value
0  6.575    4.0900   24.0
1  6.421    4.9671   21.6
2  7.185    4.9671   34.7
3  6.998    6.0622   33.4
4  7.147    6.0622   36.2